@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Roboto+Mono%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-gqN37CWFF: #ffffff;
  --plasmic-token-unnamed-style-token: var(--token-gqN37CWFF);
  --token-o-NASav1A: #6e9fe3;
  --plasmic-token-blue: var(--token-o-NASav1A);
  --token-e45-V13on: #ffffff;
  --plasmic-token-white: var(--token-e45-V13on);
  --token-2AtVoe2jt: Roboto;
  --plasmic-token-parag: var(--token-2AtVoe2jt);
  --token--7fOU2Nbo: Roboto Mono;
  --plasmic-token-numbr: var(--token--7fOU2Nbo);
}

.plasmic_default_styles {
  --mixin-rgCCncKmfj_font-family: "Inter", sans-serif;
  --mixin-rgCCncKmfj_font-size: 16px;
  --mixin-rgCCncKmfj_font-weight: 400;
  --mixin-rgCCncKmfj_font-style: normal;
  --mixin-rgCCncKmfj_color: #535353;
  --mixin-rgCCncKmfj_text-align: left;
  --mixin-rgCCncKmfj_text-transform: none;
  --mixin-rgCCncKmfj_line-height: 1.5;
  --mixin-rgCCncKmfj_letter-spacing: normal;
  --mixin-rgCCncKmfj_white-space: pre-wrap;
  --mixin-rgCCncKmfj_user-select: text;
  --mixin-rgCCncKmfj_text-decoration-line: none;
  --mixin-rgCCncKmfj_text-overflow: clip;
  --mixin-8zwscphjND9_color: #000000;
  --mixin-8zwscphjND9_font-weight: 900;
  --mixin-8zwscphjND9_font-size: 72px;
  --mixin-8zwscphjND9_line-height: 1;
  --mixin-8zwscphjND9_letter-spacing: -4px;
  --mixin-8zwscphjND9_white-space: pre-wrap;
  --mixin-VmZLGOj8__y_color: #000000;
  --mixin-VmZLGOj8__y_font-size: 48px;
  --mixin-VmZLGOj8__y_font-weight: 700;
  --mixin-VmZLGOj8__y_letter-spacing: -1px;
  --mixin-VmZLGOj8__y_line-height: 1.1;
  --mixin-VmZLGOj8__y_white-space: pre-wrap;
  --mixin-IAIqIHkFMhs_color: #0070f3;
  --mixin-IAIqIHkFMhs_white-space: pre-wrap;
  --mixin-UkzrSh9GRhq_color: #000000;
  --mixin-UkzrSh9GRhq_font-size: 32px;
  --mixin-UkzrSh9GRhq_font-weight: 600;
  --mixin-UkzrSh9GRhq_letter-spacing: -0.8px;
  --mixin-UkzrSh9GRhq_line-height: 1.2;
  --mixin-UkzrSh9GRhq_white-space: pre-wrap;
  --mixin-OL02sjsYMfO_color: #000000;
  --mixin-OL02sjsYMfO_font-size: 24px;
  --mixin-OL02sjsYMfO_font-weight: 600;
  --mixin-OL02sjsYMfO_letter-spacing: -0.5px;
  --mixin-OL02sjsYMfO_line-height: 1.3;
  --mixin-OL02sjsYMfO_white-space: pre-wrap;
  --mixin-VWzjm8zYLaW_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-VWzjm8zYLaW_border-bottom-color: #dddddd;
  --mixin-VWzjm8zYLaW_border-bottom-style: solid;
  --mixin-VWzjm8zYLaW_border-bottom-width: 1px;
  --mixin-VWzjm8zYLaW_border-left-color: #dddddd;
  --mixin-VWzjm8zYLaW_border-left-style: solid;
  --mixin-VWzjm8zYLaW_border-left-width: 1px;
  --mixin-VWzjm8zYLaW_border-right-color: #dddddd;
  --mixin-VWzjm8zYLaW_border-right-style: solid;
  --mixin-VWzjm8zYLaW_border-right-width: 1px;
  --mixin-VWzjm8zYLaW_border-top-color: #dddddd;
  --mixin-VWzjm8zYLaW_border-top-style: solid;
  --mixin-VWzjm8zYLaW_border-top-width: 1px;
  --mixin-VWzjm8zYLaW_border-bottom-left-radius: 3px;
  --mixin-VWzjm8zYLaW_border-bottom-right-radius: 3px;
  --mixin-VWzjm8zYLaW_border-top-left-radius: 3px;
  --mixin-VWzjm8zYLaW_border-top-right-radius: 3px;
  --mixin-VWzjm8zYLaW_font-family: "Inconsolata";
  --mixin-VWzjm8zYLaW_padding-bottom: 1px;
  --mixin-VWzjm8zYLaW_padding-left: 4px;
  --mixin-VWzjm8zYLaW_padding-right: 4px;
  --mixin-VWzjm8zYLaW_padding-top: 1px;
  --mixin-VWzjm8zYLaW_white-space: pre-wrap;
  --mixin-pV-KD30GqcI_border-left-color: #dddddd;
  --mixin-pV-KD30GqcI_border-left-style: solid;
  --mixin-pV-KD30GqcI_border-left-width: 3px;
  --mixin-pV-KD30GqcI_color: #888888;
  --mixin-pV-KD30GqcI_padding-left: 10px;
  --mixin-pV-KD30GqcI_white-space: pre-wrap;
  --mixin-8pb7hKmKLt1_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-8pb7hKmKLt1_border-bottom-color: #dddddd;
  --mixin-8pb7hKmKLt1_border-bottom-style: solid;
  --mixin-8pb7hKmKLt1_border-bottom-width: 1px;
  --mixin-8pb7hKmKLt1_border-left-color: #dddddd;
  --mixin-8pb7hKmKLt1_border-left-style: solid;
  --mixin-8pb7hKmKLt1_border-left-width: 1px;
  --mixin-8pb7hKmKLt1_border-right-color: #dddddd;
  --mixin-8pb7hKmKLt1_border-right-style: solid;
  --mixin-8pb7hKmKLt1_border-right-width: 1px;
  --mixin-8pb7hKmKLt1_border-top-color: #dddddd;
  --mixin-8pb7hKmKLt1_border-top-style: solid;
  --mixin-8pb7hKmKLt1_border-top-width: 1px;
  --mixin-8pb7hKmKLt1_border-bottom-left-radius: 3px;
  --mixin-8pb7hKmKLt1_border-bottom-right-radius: 3px;
  --mixin-8pb7hKmKLt1_border-top-left-radius: 3px;
  --mixin-8pb7hKmKLt1_border-top-right-radius: 3px;
  --mixin-8pb7hKmKLt1_font-family: "Inconsolata";
  --mixin-8pb7hKmKLt1_padding-bottom: 3px;
  --mixin-8pb7hKmKLt1_padding-left: 6px;
  --mixin-8pb7hKmKLt1_padding-right: 6px;
  --mixin-8pb7hKmKLt1_padding-top: 3px;
  --mixin-8pb7hKmKLt1_white-space: pre-wrap;
  --mixin-6HX1VgfOvbn_display: flex;
  --mixin-6HX1VgfOvbn_flex-direction: column;
  --mixin-6HX1VgfOvbn_align-items: stretch;
  --mixin-6HX1VgfOvbn_justify-content: flex-start;
  --mixin-6HX1VgfOvbn_list-style-position: outside;
  --mixin-6HX1VgfOvbn_padding-left: 40px;
  --mixin-6HX1VgfOvbn_position: relative;
  --mixin-6HX1VgfOvbn_list-style-type: disc;
  --mixin-6HX1VgfOvbn_white-space: pre-wrap;
  --mixin-JBWBGrQ9kaa_display: flex;
  --mixin-JBWBGrQ9kaa_flex-direction: column;
  --mixin-JBWBGrQ9kaa_align-items: stretch;
  --mixin-JBWBGrQ9kaa_justify-content: flex-start;
  --mixin-JBWBGrQ9kaa_list-style-position: outside;
  --mixin-JBWBGrQ9kaa_padding-left: 40px;
  --mixin-JBWBGrQ9kaa_position: relative;
  --mixin-JBWBGrQ9kaa_list-style-type: decimal;
  --mixin-JBWBGrQ9kaa_white-space: pre-wrap;
  --mixin-36WsFlE08Hp_color: #000000;
  --mixin-36WsFlE08Hp_font-size: 20px;
  --mixin-36WsFlE08Hp_font-weight: 600;
  --mixin-36WsFlE08Hp_letter-spacing: -0.3px;
  --mixin-36WsFlE08Hp_line-height: 1.5;
  --mixin-36WsFlE08Hp_white-space: pre-wrap;
  --mixin-RoO2smW1JV5_color: #000000;
  --mixin-RoO2smW1JV5_font-size: 16px;
  --mixin-RoO2smW1JV5_font-weight: 600;
  --mixin-RoO2smW1JV5_line-height: 1.5;
  --mixin-RoO2smW1JV5_white-space: pre-wrap;
  --mixin-0kd-rNosYIN_color: #3291ff;
  --mixin-0kd-rNosYIN_white-space: pre-wrap;
  --mixin-lYCofGQcP2O_white-space: pre-wrap;
  --mixin-EKz2j9WUnnT_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-rgCCncKmfj_font-family);
  font-size: var(--mixin-rgCCncKmfj_font-size);
  font-weight: var(--mixin-rgCCncKmfj_font-weight);
  font-style: var(--mixin-rgCCncKmfj_font-style);
  color: var(--mixin-rgCCncKmfj_color);
  text-align: var(--mixin-rgCCncKmfj_text-align);
  text-transform: var(--mixin-rgCCncKmfj_text-transform);
  line-height: var(--mixin-rgCCncKmfj_line-height);
  letter-spacing: var(--mixin-rgCCncKmfj_letter-spacing);
  white-space: var(--mixin-rgCCncKmfj_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-8zwscphjND9_color);
  font-weight: var(--mixin-8zwscphjND9_font-weight);
  font-size: var(--mixin-8zwscphjND9_font-size);
  line-height: var(--mixin-8zwscphjND9_line-height);
  letter-spacing: var(--mixin-8zwscphjND9_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-VmZLGOj8__y_color);
  font-size: var(--mixin-VmZLGOj8__y_font-size);
  font-weight: var(--mixin-VmZLGOj8__y_font-weight);
  letter-spacing: var(--mixin-VmZLGOj8__y_letter-spacing);
  line-height: var(--mixin-VmZLGOj8__y_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-IAIqIHkFMhs_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-UkzrSh9GRhq_color);
  font-size: var(--mixin-UkzrSh9GRhq_font-size);
  font-weight: var(--mixin-UkzrSh9GRhq_font-weight);
  letter-spacing: var(--mixin-UkzrSh9GRhq_letter-spacing);
  line-height: var(--mixin-UkzrSh9GRhq_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-OL02sjsYMfO_color);
  font-size: var(--mixin-OL02sjsYMfO_font-size);
  font-weight: var(--mixin-OL02sjsYMfO_font-weight);
  letter-spacing: var(--mixin-OL02sjsYMfO_letter-spacing);
  line-height: var(--mixin-OL02sjsYMfO_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-VWzjm8zYLaW_font-family);
  border-radius: var(--mixin-VWzjm8zYLaW_border-top-left-radius)
    var(--mixin-VWzjm8zYLaW_border-top-right-radius)
    var(--mixin-VWzjm8zYLaW_border-bottom-right-radius)
    var(--mixin-VWzjm8zYLaW_border-bottom-left-radius);
  padding: var(--mixin-VWzjm8zYLaW_padding-top)
    var(--mixin-VWzjm8zYLaW_padding-right)
    var(--mixin-VWzjm8zYLaW_padding-bottom)
    var(--mixin-VWzjm8zYLaW_padding-left);
  border-top: var(--mixin-VWzjm8zYLaW_border-top-width)
    var(--mixin-VWzjm8zYLaW_border-top-style)
    var(--mixin-VWzjm8zYLaW_border-top-color);
  border-right: var(--mixin-VWzjm8zYLaW_border-right-width)
    var(--mixin-VWzjm8zYLaW_border-right-style)
    var(--mixin-VWzjm8zYLaW_border-right-color);
  border-bottom: var(--mixin-VWzjm8zYLaW_border-bottom-width)
    var(--mixin-VWzjm8zYLaW_border-bottom-style)
    var(--mixin-VWzjm8zYLaW_border-bottom-color);
  border-left: var(--mixin-VWzjm8zYLaW_border-left-width)
    var(--mixin-VWzjm8zYLaW_border-left-style)
    var(--mixin-VWzjm8zYLaW_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-pV-KD30GqcI_color);
  padding-left: var(--mixin-pV-KD30GqcI_padding-left);
  border-left: var(--mixin-pV-KD30GqcI_border-left-width)
    var(--mixin-pV-KD30GqcI_border-left-style)
    var(--mixin-pV-KD30GqcI_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-8pb7hKmKLt1_font-family);
  border-radius: var(--mixin-8pb7hKmKLt1_border-top-left-radius)
    var(--mixin-8pb7hKmKLt1_border-top-right-radius)
    var(--mixin-8pb7hKmKLt1_border-bottom-right-radius)
    var(--mixin-8pb7hKmKLt1_border-bottom-left-radius);
  padding: var(--mixin-8pb7hKmKLt1_padding-top)
    var(--mixin-8pb7hKmKLt1_padding-right)
    var(--mixin-8pb7hKmKLt1_padding-bottom)
    var(--mixin-8pb7hKmKLt1_padding-left);
  border-top: var(--mixin-8pb7hKmKLt1_border-top-width)
    var(--mixin-8pb7hKmKLt1_border-top-style)
    var(--mixin-8pb7hKmKLt1_border-top-color);
  border-right: var(--mixin-8pb7hKmKLt1_border-right-width)
    var(--mixin-8pb7hKmKLt1_border-right-style)
    var(--mixin-8pb7hKmKLt1_border-right-color);
  border-bottom: var(--mixin-8pb7hKmKLt1_border-bottom-width)
    var(--mixin-8pb7hKmKLt1_border-bottom-style)
    var(--mixin-8pb7hKmKLt1_border-bottom-color);
  border-left: var(--mixin-8pb7hKmKLt1_border-left-width)
    var(--mixin-8pb7hKmKLt1_border-left-style)
    var(--mixin-8pb7hKmKLt1_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-6HX1VgfOvbn_display);
  flex-direction: var(--mixin-6HX1VgfOvbn_flex-direction);
  align-items: var(--mixin-6HX1VgfOvbn_align-items);
  justify-content: var(--mixin-6HX1VgfOvbn_justify-content);
  list-style-position: var(--mixin-6HX1VgfOvbn_list-style-position);
  padding-left: var(--mixin-6HX1VgfOvbn_padding-left);
  position: var(--mixin-6HX1VgfOvbn_position);
  list-style-type: var(--mixin-6HX1VgfOvbn_list-style-type);
  flex-column-gap: var(--mixin-6HX1VgfOvbn_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-JBWBGrQ9kaa_display);
  flex-direction: var(--mixin-JBWBGrQ9kaa_flex-direction);
  align-items: var(--mixin-JBWBGrQ9kaa_align-items);
  justify-content: var(--mixin-JBWBGrQ9kaa_justify-content);
  list-style-position: var(--mixin-JBWBGrQ9kaa_list-style-position);
  padding-left: var(--mixin-JBWBGrQ9kaa_padding-left);
  position: var(--mixin-JBWBGrQ9kaa_position);
  list-style-type: var(--mixin-JBWBGrQ9kaa_list-style-type);
  flex-column-gap: var(--mixin-JBWBGrQ9kaa_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-36WsFlE08Hp_color);
  font-size: var(--mixin-36WsFlE08Hp_font-size);
  font-weight: var(--mixin-36WsFlE08Hp_font-weight);
  letter-spacing: var(--mixin-36WsFlE08Hp_letter-spacing);
  line-height: var(--mixin-36WsFlE08Hp_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-RoO2smW1JV5_color);
  font-size: var(--mixin-RoO2smW1JV5_font-size);
  font-weight: var(--mixin-RoO2smW1JV5_font-weight);
  line-height: var(--mixin-RoO2smW1JV5_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-0kd-rNosYIN_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
